.header {
  margin: 0 auto;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  padding-bottom: 35px;
}

@media screen and (max-width: 680px) {
  .header {
    margin-top: 28px;
    padding-bottom: 27px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 680px) {
  .header__logo-image {
    max-width: 104px;
  }
}
