.header {
  margin: 0 auto;
  margin-top: 45px;
  height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 330px) {
  .header {
    margin-top: 28px;
    height: 56px;
  }
}