.elements {
  margin: 0 auto;
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 20px 17px;
}

@media screen and (max-width: 720px) {
  .elements {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}