.popup__image-container{
  margin: 0 auto;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 330px) {
  .popup__image-container {
    padding: 0;
    max-width: 282px;
    max-height: 322px;
  }
}