.profile__avatar{
  background-image: url(../../../images/Jacques.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

@media screen and (max-width: 330px) {
  .profile__avatar {
    margin-top: 3px;
  }
}